{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freelance Site</title>
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main_app/images/favicon.png' %}">
    <script src="{% static 'main_app/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
<header>
    <!-- Здесь может быть ваш логотип и навигационное меню -->
</header>
<main class="container mx-auto px-4">
    {% block content %}
    {% endblock %}
</main>
<script src="{% static 'main_app/js/script.js' %}"></script>
</body>
</html>